<%- include("partials/header.ejs") %>
			
			<section class="boxed no-padding bg-img " style="background-image: url(images/bg/bg-about.jpg);">
				<div class="sub-header depen-on-img">
					<img src="images/bg/bg-about.jpg" class="img-responsive" alt="Image">
					<div class="sub-header-inner center-center">
						<h2>ABOUT US</h2>
						<ol class="breadcrumb">
							<li>
								<a href="#">HOME</a>
							</li>
							<li class="active">ABOUT US</li>
						</ol>
					</div>
				</div>
			</section>
			<!-- /subheader -->

			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-4  col-sm-4 text-right">
							<h3 class="title-with-sub">HISTORY</h3>
							<span class="sub-title color-theme">Our Story</span>
						</div>
						<div class="col-md-5 col-sm-8 ">
							<h4>We turn Ideas into Works of Art</h4>
							<p>
								Sanmour tries to cut through the clutter of commonness to bring to the table new and fresh thoughts in space design and architecture. Today, space is at a minimum and what is available comes at a premium.
							</p>
							<p>In such a scenario, we are always trying to achieve a balance of space utilization, conservation and aesthetics. And whatever we do, our ultimate aim is to enhance the value of the project we take up. And has been our motto for the last 10 years, since the time we have taken shape.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- /history -->

			<section class="no-padding">
				<div class="container">
					<h2>OUR TEAM</h2>
					<div class="row">
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/1.jpg" class="img-responsive" alt="Image">
								<h5>Edward Gray</h5>
								<span>CEO / Founder</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/2.jpg" class="img-responsive" alt="Image">
								<h5>John Henderson</h5>
								<span>Product Manager</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/3.jpg" class="img-responsive" alt="Image">
								<h5>Deborah Price</h5>
								<span>Creative Director</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/4.jpg" class="img-responsive" alt="Image">
								<h5>Paul Richardson</h5>
								<span>Legal Consultance</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/5.jpg" class="img-responsive" alt="Image">
								<h5>Paul Hughes</h5>
								<span>CEO / Founder</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="item-team">
								<img src="images/team/6.jpg" class="img-responsive" alt="Image">
								<h5>Charles Patterson</h5>
								<span>Accountance</span>
							</div>
						</div>

					</div>
					<img src="images/content/about.jpg" class="img-responsive" alt="Image">
				</div>
				<div class="line-top-right w-680"></div>
			</section>
			<!-- our team -->

			<section class="">
				<div class="container">
					<h2 class="text-uppercase">Crafting Satisfaction</h2>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/why choose us.png" class="img-responsive" alt="Image">
								<h5>Why Choose Us</h5>
								<p>Innovative Designs transforms ideas into stunning works of art, residential to commercial spaces and client-centric approach with a focus on architectural and interior design services ensuring each project is unique and tailored to your vision.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/our mission.png" class="img-responsive" alt="Image">
								<h5>Our Mission</h5>
								<p>Innovative space designs aims to cut through commonness, bringing fresh and unique ideas to every project, ultimate mission is to enhance the value of every project, delight and ensuring client satisfaction.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/vission.png" class="img-responsive" alt="Image">
								<h5>Our Vission</h5>
								<p>Innovation and creativity is to craft spaces that harmonize innovation with sustainability, creating environment future project transcends conventional design and boundaries of architectural excellence and unique client’s aspirations.</p>
							</div>
						</div>
					</div>
					<div class="row">
						
						
					</div>
				</div>
				<div class="line-top-right w-680"></div>
			</section>

			<section>
				<div class="container">
					<h2 class="text-uppercase">Our Services</h2>
					<div class="row">
						<div class="col-md-12 col-sm-12 "> <!-- required for floating -->
						   <p>Sanmour has executed projects of several sizes. So whether you are coming to us for a blueprint of residential spaces or commercial set-ups, we have the wherewithal, teams and the capabilities to come up with designs for every kind of space. There are different kinds of architecture which stand on their own. We understand the need of the customer and adapt the necessary architecture. But whatever we do, consumer delight is our aim.</p>
						   <p>Here's a glimpse at some of our creations, both – residential and commercial.</p>
						</div>

						
					</div>
					<div class="row mgt-60">
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/architecture3.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Architecture & Planning</h5>
								<p>Touch the Sky</p>
								
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/interior designing.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Interior Designing</h5>
								<p>Shaping for a better future</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/residential.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Residential Design</h5>
								<p>Shaping for a better future</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/landscape desinig.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Landscape Designing</h5>
								<p>Create your dream hous</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/concept DESIGN.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Concept Designing</h5>
								<p>Building castle out of waste</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/retail.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Commerical Retail Design</h5>
								<p>Shaping for a better future</p>
								
							</div>
						</div>
						
						
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/plotting.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Plotting Layouts</h5>
								<p>From imagination to real</p>
								
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/Architectural Executions.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Architectural Executions</h5>
								<p>Dreams under construction</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-inline">
								<img src="images/icon/Interior Executions.png" class="img-responsive" alt="Image">
								<h5 class="text-uppercase">Interior Executions</h5>
								<p>Shaping for a better future</p>
							</div>
						</div>
					</div>
				</div>
				<div class="line-top-right w-680"></div>
			</section>

			<section class="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="comments-area">
							<h2>WE'RE HIRING!</h2>
							<form action="POST" class="comment-form">
								<div class="col-md-4 col-sm-6">
									<input class="contact-input" required="required" placeholder="Name" type="text">
									<input class="contact-input" required="required" placeholder="Phone Number" type="text">
								</div>
								<div class="col-md-4 col-sm-6">
									<input class="contact-input" required="required" placeholder="E-Mail" type="email">
									<input class="contact-input" required="required" placeholder="Topic" type="text">
								</div>
								<div class="col-md-4 col-sm-6">
									<textarea class="textarea-contact" rows="4" required="required" placeholder="Message"></textarea>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-4 ">
									<button type="submit" class="ot-btn border-dark btn-contact">Send Message</button>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
				<div class="line-top-right w-680"></div>
			</section>
			<!-- /Hiring -->

			<%- include("partials/footer.ejs") %>