<%- include("partials/header.ejs") %>
			
			<section class="boxed no-padding bg-img " style="background-image: url(images/bg/bg-contact-2.jpg);">
				<div class="sub-header depen-on-img">
					<img src="images/bg/bg-about.jpg" class="img-responsive" alt="Image">
					<div class="sub-header-inner center-center">
						<h2>CAREER</h2>
						<ol class="breadcrumb">
							<li>
								<a href="#">HOME</a>
							</li>
							<li class="active">CAREER</li>
						</ol>
					</div>
				</div>
			</section>
			<!-- /subheader -->

			<section class="pdb-0">
				<div class="container">
					<div class="row">
						<div class="text-center">
							<h4>INTER PUSUERE ERAT A ANATEV VENEATATIS MODO CURSUS MAGNA.<br>VEL SCELERISQUE NISL</h4>
						</div>
						<div class="mgt-60">
							<div class="col-md-4">
								<div class="icon-box-center">
									<div class="box-icon">
										<img src="images/icon/mail2.png" class="img-responsive" alt="Image">
									</div>
									<h5>E-MAIL</h5>
									<a href="mailto:info@sanmour.in">info@sanmour.in</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon-box-center">
									<div class="box-icon">
										<img src="images/icon/phone2.png" class="img-responsive" alt="Image">
									</div>
									<h5>PHONE</h5>
									Phone 1 : <a href="tel:9879574176">+91 9879574176</a><br>
									Phone 2 : <a href="tel:9512674176">+91 9512674176</a>     
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon-box-center">
									<div class="box-icon">
										<img src="images/icon/map2.png" class="img-responsive" alt="Image">
									</div>
									<h5>ADDRESS</h5>
									<p>F.F.-102,Blue Iris,Block-V, Nr.Hyundai Showroom, Opp. Podar International School,
                                       S.p. Ring Road, Vastral, Ahmedabad -382418. Gujarat - India.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			

			<section >
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="comments-area">
							<h2>SEND US A MESSAGE</h2>
							<form action="POST" class="contact-form">
								<div class="col-md-6 col-sm-6">
									<input class="contact-input" required="required" placeholder="Name" type="text">
									<input class="contact-input" required="required" placeholder="Phone Number" type="text">
								</div>
								<div class="col-md-6 col-sm-6">
									<input class="contact-input" required="required" placeholder="E-Mail" type="email">
									<input class="contact-input" required="required" placeholder="Topic" type="text">
								</div>
								
								
								<div class="col-md-6 col-sm-12">
									<input class="contact-input" required="required" placeholder="Upload CV" type="file">
								</div>
								<div class="col-md-6 col-sm-12">
									<textarea class="textarea-contact" rows="4" required="required" placeholder="Message"></textarea>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-4 ">
									<button type="submit" class="ot-btn border-dark btn-contact">Send Message</button>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
				<div class="line-top-right w-680"></div>
			</section>
			<!-- /contact form -->

		<%- include("partials/footer.ejs") %>