
		<%- include("partials/header.ejs") %>	
			<section class="boxed no-padding bg-img " style="background-image: url(images/bg/bg-services2.jpg);">
				<div class="sub-header depen-on-img">
					<img src="images/bg/bg-services2.jpg" class="img-responsive" alt="Image">
					<div class="sub-header-inner center-center">
						<h2>OUR SERVICES</h2>
						<ol class="breadcrumb">
							<li>
								<a href="#">HOME</a>
							</li>
							<li class="active">SERVICES</li>
						</ol>
					</div>
				</div>
			</section>
			<!-- /subheader -->

			<section class="boxed pdb-0">
				<article class="services-post">
					<div class="col-md-5 bg-image bg-image-post" style="background-image: url(images/project/R\ CAPITAL\ @\ JASHODA\ NAGAR/03\ SIDE\ VIEW\ NIGHT.webp);">
						<img src="images/project/R CAPITAL @ JASHODA NAGAR/03 SIDE VIEW NIGHT.webp" class="img-responsive" alt="Image">
					</div>
					<div class="container">
						<div class="row">	
							<div class="col-md-7 col-md-push-5">
								<div class="desc">
									<div class="title-block-number">
										<span class="big-number">01</span>
										<h2 class="title-with-sub">COMMERCIAL</h2>
										<span class="sub-title">Creative and Unique Building</span>
									</div>

									<p>
										Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
									</p>
									<a href="#" class="ot-btn border-dark mgt-30">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</article>

				<article class="services-post">
					<div class="col-md-5 col-md-push-7 bg-image bg-image-post" style="background-image: url(images/services/2.jpg);">
						<img src="images/services/2.jpg" class="img-responsive" alt="Image">
					</div>
					<div class="container">
						<div class="row">	
							<div class="col-md-7">
								<div class="desc">
									<div class="title-block-number">
										<span class="big-number">02</span>
										<h2 class="title-with-sub">RESIDENTIAL</h2>
										<span class="sub-title">Innovation Inside</span>
									</div>
									<p>
										Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
									</p>
									<a href="#" class="ot-btn border-dark mgt-30">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="services-post">
					<div class="col-md-5 bg-image bg-image-post" style="background-image: url(images/services/3.jpg);">
						<img src="images/services/3.jpg" class="img-responsive" alt="Image">
					</div>
					<div class="container">
						<div class="row">	
							<div class="col-md-7 col-md-push-5">
								<div class="desc">
									<div class="title-block-number">
										<span class="big-number">03</span>
										<h2 class="title-with-sub text-uppercase">Independent Bungalows / Villa</h2>
										<span class="sub-title">MAKE BUILDING GREAT AGAIN</span>
									</div>

									<p>
										Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
									</p>
									<a href="#" class="ot-btn border-dark mgt-30">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</article>
				
				<article class="services-post">
					<div class="col-md-5 col-md-push-7 bg-image bg-image-post" style="background-image: url(images/services/2.jpg);">
						<img src="images/services/2.jpg" class="img-responsive" alt="Image">
					</div>
					<div class="container">
						<div class="row">	
							<div class="col-md-7">
								<div class="desc">
									<div class="title-block-number">
										<span class="big-number">04</span>
										<h2 class="title-with-sub">SCHOOL</h2>
										<span class="sub-title">Innovation Inside</span>
									</div>
									<p>
										Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
									</p>
									<a href="#" class="ot-btn border-dark mgt-30">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</article>

				<article class="services-post">
					<div class="col-md-5 bg-image bg-image-post" style="background-image: url(images/services/3.jpg);">
						<img src="images/services/3.jpg" class="img-responsive" alt="Image">
					</div>
					<div class="container">
						<div class="row">	
							<div class="col-md-7 col-md-push-5">
								<div class="desc">
									<div class="title-block-number">
										<span class="big-number">05</span>
										<h2 class="title-with-sub">INTERIOR DESIGN</h2>
										<span class="sub-title">MAKE BUILDING GREAT AGAIN</span>
									</div>

									<p>
										Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
									</p>
									<a href="#" class="ot-btn border-dark mgt-30">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</article>
				
			</section>
			<!-- /article Post -->

			<section class="bg-top-right-services">
				<div class="container">
					<h2>WHY YOU SHOULD CHOOSE US</h2>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/creative solution.png" class="img-responsive" alt="Image">
								<h5>Creative Solution</h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero,</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/proffesional.png" class="img-responsive" alt="Image">
								<h5>Professional</h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero,</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/Support 247.png" class="img-responsive" alt="Image">
								<h5>Support 24/7</h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero,</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box-block">
								<img src="images/icon/Fast Performance.png" class="img-responsive" alt="Image">
								<h5>Fast Performance</h5>
								<p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero,</p>
							</div>
						</div>
					</div>
				</div>
				<div class="line-top-right w-680"></div>
			</section>
			<!-- /why us -->
			
			<section class="boxed bg-img" style="background-image: url(images/bg/testimonial-3.jpg);">
				<div class="customNavigation">
	                <a class="btn-1 prev prev-testimonial-h1"><span class="lnr lnr-chevron-left-circle"></span></a>
	                <a class="btn-1 next next-testimonial-h1"><span class="lnr lnr-chevron-right-circle"></span></a>
	        	</div><!-- End owl button -->
				<div id="testimonial-1" class="owl-testimonial-1">
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
						
					</div>
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
					</div>
					<div class="item-testimonial-1 text-center">
						<h2>CONSTER IS THE <span class="color-theme">MOST SUITABLE</span> FOR ARCHITECTURE WEBSITE.</h2>
						<p>Vestibulum id ligula porta felis euismod semper. Morbi leo<br> risus, porta ac consectetur ac, vestibulum at eros. rutrum<br> faucibus dolor auctor.</p>
						<div class="info">
							<strong>John Doe</strong><span>( CEO of Company )</span>
						</div>
					</div>
				</div>
			</section>
			<!-- /testimonial -->

			<section>
				<div class="container">
					<div id="partner-h1" class="owl-partner">
						<div class="partner-item">
							<a href="#"><img src="images/partner/1.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/2.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/3.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/4.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/5.png" class="img-responsive" alt="Image"></a>
						</div>
						<div class="partner-item">
							<a href="#"><img src="images/partner/6.png" class="img-responsive" alt="Image"></a>
						</div>
					</div>
				</div>
			</section>
			<!-- /partner -->
			
			
<%- include("partials/footer.ejs") %>